<div class="jumbotron jumbotron-fluid text-center m-15 p-5" id="lostJumbo">
  <h1 id="app-name" class="display-4">Resternal</h1>
  <h2 id="subtext" class="lead">A Journal for <span>Eternalizing</span> Your Restaurant Adventures
    <br class="my-4">
    Have you ever forgotten what you ordered at a restaurant?
  </h2>
  <h2 id="subtext-two">Sign up and remember!</h2>

  <a href="/signup" class="btn btn-primary btn-lg btn-dark my-5">Sign Up!</a>
</div>

<div class="jumbotron jumbotron-fluid p-5 h-75" id="secondJumbo">