<div class="jumbotron jumbotron-fluid text-center p-5" id="lostJumbo">
  <h1 class="display-4">Restaurant Review Journal</h1>
  <p class="lead">The go-to place for your personal restaurant reviews!</p>
  <hr class="my-4">
  <p>Have you ever forgotten what you ordered at a previous restaurant?</p>
  <p>Sign up and never forget again!</p>
  <p></p>
  <a href="/signup" class="btn btn-primary btn-lg btn-dark">Sign Up!</a>
</div>


