{{!-- Template for login page --}}
<h2>Login Page</h2>

<form>
  <label for="email">E-mail:</label><br>
  <input type="email" id="email" name="email" value="Enter your login email!"><br>
  <label for="lname">Password:</label><br>
  <input type="password" id="passWord" name="passWord" value=""><br><br>
  <input type="submit" class="login-form" value="SUBMIT">
</form> 


<p>If you click the "Submit" button, the form-data will be sent to a page called "/login".</p>