{{!-- Template for login page --}}
<div class="jumbotron jumbotron-fluid justify-content-center">
  <div class="container mt-5">
    <h1 class="display-4 text-center">Login</h1>
    <p class="lead text-center">Please login below</p>
  </div>
</div> 


<div class="card mx-auto border border-primary justify-content-center p-4 mt-5" style="width: 35rem;">
      <form>
  <div class="form-group ">
    <label>Email</label>
    <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="Enter your email">
    <small class="form-text text-muted"></small>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" id="passWord" placeholder="Enter your password">
  </div>
  <div class="form-group">
  <div class= "col text-center">
  <button type="submit" id="submitReviewBtn" class="btn btn-primary m-3 login-form">Submit</button>
  </div>
</form>
</div>

<script src="./js/login.js"></script>