{{!-- Code for review template --}}


<div class="card mx-auto border border-primary justify-content-center p-4 mt-5" style="width: 35rem;">
      <form>
  <div class="form-group ">
    <label for="exampleInputEmail1">Where did you go?</label>
    <input type="text" class="form-control" id="restaurantName" aria-describedby="emailHelp" placeholder="Enter restaurant name">
    <small id="emailHelp" class="form-text text-muted"></small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">What did you order?</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Chicken alfredo, shrimp linguini...">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">How would you rate it?</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="5 star...">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">What was your overall experience?</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Loved it!">
  </div>
  <div class= "col text-center">
  <button type="submit" class="btn btn-primary m-3 ">Submit</button>
  </div>
</form>
</div>