{{!-- Code for review template --}}

<div class="jumbotron jumbotron-fluid justify-content-center">
  <div class="container mt-5">
    <h1 class="display-4 text-center">Write a Review</h1>
    <p class="lead text-center">More text if needed--otherwise delete.</p>
  </div>
</div> 


<div class="card mx-auto border border-primary justify-content-center p-4 mt-5 mb-5" style="width: 35rem;">
      <form>
  <div class="form-group">
    <label>Where did you go?</label>
    <input type="text" class="form-control mt-2 mb-2" id="restaurant-name" aria-describedby="restaurantName" placeholder="Enter a restaurant name...">
    <small class="form-text text-muted"></small>
  </div>
  <div class="form-group">
    <label>What did you order?</label>
    <input type="text" class="form-control mt-2 mb-2" id="order-name" placeholder="Chicken alfredo, shrimp linguini...">
  </div>
  <div class="form-group">
    <label>How would you rate it?</label>
    <input type="text" class="form-control mt-2 mb-2" id="your-rating" placeholder="5 stars...">
  </div>
  <div class="form-group">
    <label>What was your overall experience?</label>
    <input type="text" class="form-control mt-2 mb-2" id="your-experience" placeholder="Loved it!">
  </div>
  <div class= "col text-center">
  <button type="submit" id="submitReviewBtn mt-2 mb-2" class="btn btn-lg btn-primary m-3 ">Submit</button>
  </div>
</form>
</div>
<script src="./js/review.js"></script>