{{!-- Code for sign up template --}}
<div class="jumbotron jumbotron-fluid h-25">
</div> 

<body id="login-signup-body">
<div class="container container-fluid row justify-content-center mx-auto my-3">
<div class="card mx-auto border border-primary justify-content-center p-4 mt-5 mb-5" style="width: 35rem;">
      <form>
         <div class="container mt-3 mb-4">
    <h1 class="display-4 text-center">Sign Up</h1>
  </div>
  <div class="form-group ">
    <label>Username</label>
    <input type="text" class="form-control mt-2 mb-2" id="signup-username" aria-describedby="username" placeholder="Enter your username">
    <small class="form-text text-muted"></small>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control mt-2 mb-2" id="signup-email" placeholder="Enter your email address">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control mt-2 mb-2" id="signup-password" placeholder="Enter your password">
  </div>
  <div class="form-group">
  <div class= "col text-center">
  <button type="submit" id="submitReviewBtn" class="btn btn-lg btn-primary m-3 signup-form">Sign Up</button>
  </div>
</form>
</div>
</div>
</body>


<script src="./js/signup.js"></script>

