{{!-- Code for sign up template --}}

<h2>Fill this out to set up your login information!</h2>

<form action="/signup">
  <label for="firstname">First name:</label><br>
  <input type="text" id="firstName" name="firstName" value="Frist name here!"><br>
  <label for="lastname">Last name:</label><br>
  <input type="text" id="lastName" name="lastName" value="Last name here!"><br><br>
  <input type="submit" value="SUBMIT!">
</form> 

<p>If you click the "Submit" button, the form-data will be sent to a page called "/signup"!</p>
