body {
    color: rgb(0, 0, 0);
    background-color: rgb(114, 102, 102);
}
.navbar-nav {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
}
.jumbotron {
    background: url(../img/cafe.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#center_box{
    background: bisque;
}