
.navbar-nav {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
}
.jumbotron {
    background: url(../img/cafe.png) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-composite: cover;
    font-size: larger;
    font: bold;
    font-family: 'Rowdies', cursive;
    color: black
}

footer {
  text-shadow: 2px 2px snow;
}

    
    


.card {
    /* Add shadows to create the "card" effect */
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2);
  }


  .classy {
      font-family: 'Libre Baskerville', serif;
      font-weight: 600;
      font-size: 100%;
  }

  .x-button {
    transition-duration: 0.3s;
    font-family: 'Libre Baskerville', serif;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
  }

  .x-button:hover {
    background-color: #030503;
    color: white;
  }

  span {
      font-style: italic;
  }

  #subtext {
      font-size: 36px;
      background-color: lightblue;
      opacity: 0.8;
      margin-bottom: auto;
  }

  #subtext-two {
    background-color: lightblue;
    opacity: 0.8;
    margin-bottom: auto;
  }

  #app-name {
      font-size: 72px;
      background-color: lightblue;
      opacity: 0.8;
      margin-bottom: auto;
  }

  #login-signup-body {
    background: url(../img/marjan-blan-marjanblan-_kUxT8WkoeY-unsplash.jpg) no-repeat center center fixed;
    background-size: cover;
  }

  .thyReviews{
    font-size: 86px;
  }

  #logged-in-text {
      color: rgb(26, 139, 26);
      font-size:large;
      display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    margin-top: 10px;
  }
  
